    <div class="right">
      <h1>Lorem Ipsum(RIGHT)</h1>
      <ul>
        <li>bla blabla blabla blabla blabla blabla blabla <br> blabla blabla bla</li>
        <li>bla blabla blabla blabla blabla blabla blabla <br> blabla blabla bla</li>
        <li>bla blabla blabla blabla blabla blabla blabla <br> blabla blabla bla</li>
        <li>bla blabla blabla blabla blabla blabla blabla <br> blabla blabla bla</li>
        <li>bla blabla blabla blabla blabla blabla blabla <br> blabla blabla bla</li>
        <li>bla blabla blabla blabla blabla blabla blabla <br> blabla blabla bla</li>
      </ul>
    </div>