
.current {
    color: lightblue;
}

body{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
}
nav{
    text-align: center;
    background: linear-gradient(gray, #73917b);
    padding: 10px;
    font-size: 1.7em;
    a {
        color: white;
        text-decoration: none;
        padding: 0 1em;
    }
    &:hover{
        color: darkblue;
    }
}
.box {
    float: left;
    width: 50%;
    padding-left: 50px;
}

img{
    width: 50%;
}
.header { 
    grid-area: header; 
}
.menu {
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 10px;
    border: 3px solid black; 
    grid-area: menu;
    font-size: 20px;
}
.right {
    padding: 10px;
    border: 3px solid black; 
    grid-area: right; 
    font-size: 20px;
}
.footer { 
    grid-area: footer; 
    background: linear-gradient(#73917b, gray);
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 20px;
}
.grid-container {
    background-color: lightgreen;
    display: grid;
    grid-template-areas:
      'header header header'
      'menu menu right'
      'menu menu right'
      'footer footer footer';
    grid-gap: 10px;;
    padding: 10px;
}
