
.current {
    color: lightblue;
}
body{
    background: linear-gradient(#8a7978, #e6e1e1);
    margin: 0px;
}
.indent{
    margin-left: 50px;
    margin-right: 50px;
}
nav{
    text-align: center;
    background: linear-gradient(gray, #73917b);
    padding: 10px;
    font-size: 1.7em;
    a {
        color: white;
        text-decoration: none;
        padding: 0 1em;
    }
    &:hover{
        color: darkblue;
    }
}
img{
    max-width: 100%;
    height: auto;
}

.main {
    font-size: 20px;
    max-width: 100%;
    margin-left: 10px;
}
.right {
    padding: 0px 10px 10px 10px;
    background: gray;
    margin: 0px

}
.footer {  
    background: linear-gradient(#73917b, gray);
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 20px;
}
.grid-container {
    background-color: rgb(214, 214, 214);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding: 10px 0px 0px 0px;
}
p{
    font-size: 20px;
    margin: 4px;
}
.ad{
    background: lightgray;
    text-align: center;
    overflow: hidden;
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}    
.kynning{
    margin: 20px 100px 20px 40px;
}
.mynd_ad{
    margin: 8px 2px 6px 2px;
    position: relative;       
    animation: mymove 5s;
}
@keyframes mymove {
    from {left: 100px;}
    to {left: 0px;}
    0%  {opacity: 0;}
    25% {opacity: 0.3;}
    50% {opacity: 0.6;}
    75% {opacity: 0.9;}
    100%{opacity: 1;}
}
  #auglysing {animation-timing-function: ease;}

.signup{
    display: grid;
    grid-template: auto auto;
    grid-gap: 20px;
    padding: 10px 0px 0px 0px;
}
.container{
    display: block;
    background-size: cover;
    background-position: center center;
}