
.current {
    color: lightblue;
}
.indent{
    margin-left: 50px;
    margin-right: 50px;
}
/* Navigation--------------------------------------*/
.navigation{
    padding: 30px 40px;
    margin: 20px;
    nav{
        text-align: right;
        background: white;
        padding: 10px;
        font-size: 1.7em;
        a {
            color: black;
            text-decoration: none;
            padding: 1em;
        }
        &:hover{
            color: darkblue;
        }
        img{
            float: left;
            position: relative;
        }
    }
}

/*--------------------------------------------------*/

img{
    max-width: 100%;
    height: auto;
}
h1{
    margin: 0px;
}
.main {
    font-size: 20px;
    max-width: 100%;
    margin-left: 10px;
}
/*Dálkur fyrir Auglýsinginn ----------------------*/
.right {
    padding: 0px 10px 10px 10px;
    background: gray;
    margin: 0px
}
.ad{
    background: lightgray;
    text-align: center;
    overflow: hidden;
}
/*--------------------------------------------------*/

.footer {  
    background: linear-gradient(white, #9c9c98);
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.grid-container {
    background-color: rgb(214, 214, 214);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding: 10px 0px 0px 0px;
}

/* Sign Up takkinn --------------------------------*/
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}   
/*--------------------------------------------------*/

.kynning{
    margin: 20px 100px 20px 40px;
    font-size: 20px;
}



/* Auglýsing----------------------------------------*/
.mynd_ad{
    margin: 8px 2px 6px 2px;
    position: relative;       
    animation: mymove 5s;
}
@keyframes mymove {
    from {left: 100px;}
    to {left: 0px;}
    0%  {opacity: 0;}
    25% {opacity: 0.3;}
    50% {opacity: 0.6;}
    75% {opacity: 0.9;}
    100%{opacity: 1;}
}
  #auglysing {animation-timing-function: ease;}
/*--------------------------------------------------*/

/* Stóra myndin í about*/
.container{
    position: relative;
    margin: 0px;
}
.top-left {
    position: absolute;
    top: 200px;
    left: 200px;
  }
.bottom-right {
    position: absolute;
    bottom: 400px;
    right: 200px;
}
.about{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
/*--------------------------------------------------*/

/* Contact form*/
.contact{
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 10px 200px;
    padding: 20px;
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical
      }
    input[type=submit] {
        background-color: lightgray;
        
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: gray;
    }
}
/*--------------------------------------------------*/
                                                        /* Alveg það sama fyrir utan um nokkra hluti*/
/* Sign up síðan -----------------------------------*/
.signup{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    input[type=text], select, textarea, input[type=email] {
        width: 25%;
        padding: 12px;
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px; 
        resize: vertical
      }
    input[type=submit] {
        background-color: lightgray;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: gray;
    }
}
/*--------------------------------------------------*/