<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <header class="navigation">
    <div>
      {% include navigation.html %}
    </div>
  </header>
    <body>
    <main class="indent">
        <article>
          <div class="main">
            {{ content }}
          </div>
        </article>
      </div>
    </main>
    <footer class="footer"> EverestTravel™</footer>
  </body>
</html>
